.category1{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.post-category-grid1{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    column-gap: 12px;
    justify-content: center;
    row-gap: 10px;
}

.category-section-top-bar{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.category-section-top-bar h1{
    margin-left: 120px;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #00B0F0;
}

.category-section-nav{
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
}


/*--Styling for category2 grid*/
.post-category-grid2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    justify-content: center;
    row-gap: 10px;
}

.video-holder{
    display: grid;
    grid-column: 1/2;
}

.video-holder-image img{
    width: 500px;
    height: 366.84px;
}

.post2-cards{
    display: grid;
    grid-column: 3/4;
    width: 500px;
}


@media screen and (max-width:650px){
    .post-category-grid1{
        display: grid;
        grid-template-columns: auto auto;
    }

    .post-category-grid1, .post-category-grid2{
        grid-template-columns: auto;
    }

    .post-category-grid2{
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        align-self: center;
    }

    .category-section-top-bar h1{
        font-size: 20px;
        margin-left: 5%;
    }

    .category-section-nav{
        width: 30%;
    }

    .post2-cards{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width:1250px){
    .post-category-grid1{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .post-category-grid1, .post-category-grid2{
        grid-template-columns: auto auto;
    }

    .post-category-grid2{
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        align-self: center;
    }

    .category-section-top-bar{
        width: 90%;
        align-self : center;
    }

    .category-section-top-bar h1{
        font-size: 20px;
        margin-left: 2%;
    }

    .category-section-nav{
        width: 15%;
    }

    .post2-cards{
        display: flex;
        flex-direction: column;
    }
}

