.navbar{
    display: flex;
    width: 100%;
    align-items: center;
    height: 108px;
    background: #232323;
    align-items: center;
}

.navbar-logo{
    display: flex;
    align-items: center;
    margin-left: 5%;

    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    color: #FFFFFF;
}

.navbar-logo img{
    width: 56px;
    height: 59px;
    left: 64px;
    margin-right: 15px;
}
